@font-face {
    font-family: 'TT Commons Pro Trial Variable';
    src: url('TTCommonsProTrialVariable.eot');
    src: url('TTCommonsProTrialVariable.eot?#iefix') format('embedded-opentype'),
        url('TTCommonsProTrialVariable.woff2') format('woff2'),
        url('TTCommonsProTrialVariable.woff') format('woff'),
        url('TTCommonsProTrialVariable.svg#TTCommonsProTrialVariable') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Commons Pro Trial';
    src: url('TTCommonsProTrial-Lt.eot');
    src: url('TTCommonsProTrial-Lt.eot?#iefix') format('embedded-opentype'),
        url('TTCommonsProTrial-Lt.woff2') format('woff2'),
        url('TTCommonsProTrial-Lt.woff') format('woff'),
        url('TTCommonsProTrial-Lt.svg#TTCommonsProTrial-Lt') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

